VITE_GOOGLE_CLIENT_ID=
VITE_APP_NAME=
VITE_APP_ENV=
VITE_CLIENT_API_DOMAIN=
VITE_SOLANA_NETWORK=
VITE_SOLANA_RPC_URL=
VITE_COINGECKO_API_KEY=
VITE_COINGECKO_BASE_URL=https://api.coingecko.com/api/v3
VITE_USE_WALLET_MOCKS=false
