.headerPanel {
  &:global(.cds--header-panel--expanded) {
    inline-size: 22rem !important;
  }
}

.headerPanelLarge {
  &:global(.cds--header-panel--expanded) {
    inline-size: 48rem !important;
  }
}

.contentNoTopPadding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.marketTicker {
  position: fixed;
  z-index: 8000-10;
  background: var(--cds-background);
  border-bottom: 1px solid var(--cds-border-subtle-01);
}

:global(.cds--content) {
  padding-top: 3.5rem !important;
}

.extraHeaderPanelContent {
  width: 100%;
  height: 100%;
  padding: 2rem 2.5rem 4rem 2rem;
}

.contentDimmed {
  position: relative;
  pointer-events: auto;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8000-5;
    pointer-events: auto;
  }

  & > * {
    pointer-events: none;
  }
}
