.divider {
  display: flex;
  align-items: center;
  block-size: 100%;
  color: var(--cds-text-secondary);
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: var(--cds-border-subtle-00);
}
