COINGECKO_API_BASE_URL=
SIM_API_BASE_URL=
BITQUERY_STREAM_API_ENDPOINT=
BITQUERY_API_ENDPOINT=

COINGECKO_API_KEY=
SIM_API_KEY=
BITQUERY_API_KEY=
POSTGRES_DB_URL=
REDIS_URL=redis://localhost:6379

# Auth configuration
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/auth

# Client
CLIENT_LOCAL_DOMAIN=http://localhost:3000
CLIENT_DEV_DOMAIN=http://localhost:3000
CLIENT_PROD_DOMAIN=http://localhost:3000