@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/type' as *;

.chartCard {
  background-color: $layer-01;
  border: 1px solid $border-subtle;
  border-radius: 6px;
  width: 100%;
  // overflow: hidden;
}

.chartHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-03 $spacing-04;
  border-bottom: 1px solid $border-subtle;
}

.tokenInfo {
  display: flex;
  align-items: center;
  gap: $spacing-02;
  min-width: 0;
}

.tokenImg {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.tokenSymbol {
  @include type-style('label-01');
  font-weight: 600;
  color: $text-primary;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.removeBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: $icon-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-01;
  border-radius: 4px;
  transition: background-color 0.15s;
  flex-shrink: 0;

  &:hover {
    background-color: $layer-hover-01;
  }
}

.chartContent {
  padding: $spacing-02;
  width: 360px;
  min-height: 180px;
}

.emptyText {
  @include type-style('body-compact-01');
  color: $text-secondary;
}