@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '../../styles/variables' as *;

.walletsComparisonPage {
  min-height: 100vh;
  background: $background;
  margin: 0;
  padding: 0;
}

.sidebarContainer {
  position: sticky;
  top: $spacing-xl;
  display: flex;
  flex-direction: column;
  gap: $spacing-04;
  padding-top: $spacing-02;
  padding-left: $spacing-06;
  border-left: 1px solid $border-subtle;
  height: 100%;
}

.mainContentContainer {
  border: 1px solid $border-subtle;
}

.grid {
  width: 100%;
  padding: 0 !important;
}

.sidebarTitle {
  margin-bottom: $spacing-md;
  color: $text-primary;
}

.walletInput {
  margin-bottom: $spacing-md;
}

.walletList {
  display: flex;
  flex-direction: column;
  gap: $spacing-03;
}

.emptyState {
  font-size: 0.875rem;
  color: $text-secondary;
}

.walletTag {
  width: 100% !important;
  max-width: 100% !important;
  
  
  // span {
  //   width: 100%;
  //   display: flex;
  //   justify-content: space-between;

  //   // :global(.cds--interactive--tag-children) {
  //   //   display: flex;
  //   //   width: 100%;
  //   //   max-width: 100% !important;
  //   //   display: flex;
  //   //   justify-content: space-between;

  //   //   :global(.cds--tag__label) {
  //   //     flex: 1;
  //   //     // overflow: hidden;
  //   //     // text-overflow: ellipsis;
  //   //   }
      
  //   //   :global(.cds--tag__close-icon) {
  //   //     margin-left: auto;
  //   //   }
  //   // }

   
  // }
  
}