@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

.hero {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0;
  border-bottom: 1px solid var(--cds-border-subtle-03);
}

.heroCell {
  padding: 16px 20px;
  // background: $layer-01;
  display: flex;
  flex-direction: column;
}

.heroCell+.heroCell {
  border-left: 1px solid var(--cds-border-subtle-03);
}

.heroLabel {
  font-size: 11px;
  color: $text-secondary;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 4px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 500;
}

.infoIcon {
  color: $icon-secondary;
  cursor: help;
  flex-shrink: 0;
}

.infoIconSm {
  color: $icon-secondary;
  cursor: help;
  flex-shrink: 0;
}

.heroVal {
  font-size: 20px;
  font-weight: 600;
  color: $text-primary;
}

.heroVal.positive {
  color: #16c784;
}

.heroVal.negative {
  color: #da1e28;
}

.heroSub {
  font-size: 12px;
  color: $text-secondary;
  margin-top: 3px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.heroSubSub {
  font-size: 11px;
  margin-top: 4px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.heroMeta {
  font-size: 11px;
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.heroSubText {
  color: $text-secondary;
}

.heroDot {
  color: $text-secondary;
}

.positive {
  color: #16c784;
  font-size: 12px;
}

.negative {
  color: #da1e28;
  font-size: 12px;
}

.subSectionRow {
  display: flex;
  gap: 6px;
  padding-top: $spacing-03;
  margin-top: auto;
}

.subSectionHalf {
  flex: 1;
  padding: 6px 8px;
  border-bottom: 1px solid var(--cds-border-subtle-03);
  // border-left: 1px solid var(--cds-border-subtle-02);
  // border-top: 1px solid var(--cds-border-subtle-03);
  // border-left: 1px solid var(--cds-border-subtle-02);
}

.subSectionHalf+.subSectionHalf {

}

.subSectionHalfLabel {
  font-size: 10px;
  color: $text-secondary;
  display: flex;
  align-items: center;
  gap: 3px;
}

.subSectionHalfVal {
  font-size: 13px;
  font-weight: 600;
  margin-top: 2px;
}

.subSectionHalfVal.positive {
  color: #16c784;
}

.subSectionHalfVal.negative {
  color: #da1e28;
}