@use "sass:map";
@use "@carbon/themes/scss/themes" as *;

:export {
  /* Interactive */
  primary: #{map.get($white, interactive-01)};
  secondary: #{map.get($white, interactive-02)};
  tertiary: #{map.get($white, interactive-03)};
  accent: #{map.get($white, interactive-04)};

  /* Support / status */
  success: #{map.get($white, support-success)};
  error: #{map.get($white, support-error)};
  warning: #{map.get($white, support-warning)};
  info: #{map.get($white, support-info)};

  /* Danger */
  dangerPrimary: #{map.get($white, danger-01)};
  dangerSecondary: #{map.get($white, danger-02)};

  /* Background */
  background: #{map.get($white, background)};
  backgroundBrand: #{map.get($white, background-brand)};
  backgroundHover: #{map.get($white, background-hover)};
  backgroundActive: #{map.get($white, background-active)};
  backgroundSelected: #{map.get($white, background-selected)};
  backgroundInverse: #{map.get($white, background-inverse)};

  /* Layers */
  layer1: #{map.get($white, layer-01)};
  layer2: #{map.get($white, layer-02)};
  layer3: #{map.get($white, layer-03)};

  layerAccent1: #{map.get($white, layer-accent-01)};
  layerAccent2: #{map.get($white, layer-accent-02)};
  layerAccent3: #{map.get($white, layer-accent-03)};

  /* Text */
  textPrimary: #{map.get($white, text-primary)};
  textSecondary: #{map.get($white, text-secondary)};
  textOnColor: #{map.get($white, text-on-color)};
  textInverse: #{map.get($white, text-inverse)};
  textError: #{map.get($white, text-error)};

  /* Icons */
  iconPrimary: #{map.get($white, icon-primary)};
  iconSecondary: #{map.get($white, icon-secondary)};
  iconInteractive: #{map.get($white, icon-interactive)};
  iconOnColor: #{map.get($white, icon-on-color)};
  iconInverse: #{map.get($white, icon-inverse)};
  iconDisabled: #{map.get($white, icon-disabled)};

  /* Borders */
  borderStrong: #{map.get($white, border-strong)};
  borderSubtle: #{map.get($white, border-subtle)};
  borderInteractive: #{map.get($white, border-interactive)};
  borderInverse: #{map.get($white, border-inverse)};

  /* Focus */
  focus: #{map.get($white, focus)};
}